@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap');

@font-face {
    font-family: 'SIMSUN';
    src: local('SIMSUN'), url(./fonts/SIMSUN.ttf) format('truetype');
  }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    font-family: 'SIMSUN';
    height: 50px;
    width: 100%;
    padding: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}

.host {
    display: flex;
    justify-content: space-between;
    width: 30%;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
}



.title h3 {
    font-size: 20px;
    letter-spacing: 3px;
}

.title p {
    font-size: 16px;
    letter-spacing: 2px;
    color: #aaa;
}

.profile-image {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
}

.profile-image .icon {
    font-size: 40px;
    color: #aaa;
    padding: 20%;
    background: #ddd;
    border-radius: 50%;
}


.navlist {
    display: flex;
    width: 25%;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.navlist li {
    list-style-type: none;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
}

.navlist li a {
    text-decoration: none;
    color: #aaa;
    padding: 3%;
    border-radius: 15px;   
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 150px;
    font-family: 'SIMSUN';
}

.navlist li a p {
    font-family: 'SIMSUN';
}

.navlist li a .icon {
    padding: 3%;
    font-size: 30px;
    margin-right: 5%;
}
.navlist li a:hover {
    opacity: 0.8;
     background-color: #ddd;
     color: #2666cc;
}





@media screen and (max-width:1024px) {
    nav {
        width: 100%;
        overflow: hidden;
    }
    .host {
        width: 50%;
    }
    .navlist {
        width: 25%;
    }

    .navlist li a{
        width: 100px;
    }

    .title h3 {
        font-size: 18px;
    }
    
    .title p {
        font-size: 14px;
    }
    .navlist li a {
        padding: 5%;
    }
    .profile-image .icon {
        font-size: 30px;
    }
    .navlist li a .icon {
        font-size: 25px;
    }
    .navlist li a p {
        font-size: 14px;
    }
}

@media screen and (max-width:768px) {
    nav {
        justify-content: space-between;
        height: 10vh;
        padding: 5%;
        border-bottom: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .host {
        width: 100%;
         justify-content: flex-start;
         align-items: center;
        
    }

    .title {
        margin-left: 5%;
    }
    
    .navlist {
        display: none;
    }

}

/* search starts here */

.form {
    height: 5vh;
    width: 40%;
    margin-left: 50%;
    margin-right: 50%;
    transform: translate(-50%);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 10%;
    left: 0;
    z-index: 9999999999999999999999;
}

.form input {
    width: 95%;
    height: 100%;
    padding: 2%;
    border-radius: 5px 0px 0px 5px;
    outline: none;
    border: none;
    background: #f0f0f0;
}

.form input::placeholder{
    font-size: 14px;
    color: gray;
    text-decoration:  none solid rgba(0, 0, 0, 0.8);
    line-height: 17px;
}

.form button {
    width: 5%;
    height: 100%;
    padding: 2;
    border-radius: 0px 5px 5px 0px;
    outline: none;
    border: none;
    background: #f8de4b;
    font-size: 14px;
    color: #2d73f0;
}

.search-box {
    position: relative;
    z-index: 99;
    width: 100%;
    height: 100%;
    /* background: blue; */
}

.search-header {
    height: 5vh;
    border-bottom: 1px solid #ddd;
    padding: 2%;
    /* background: hotpink; */
    display: flex;
    align-items: center;
}

.search-header h3 {
    font-size: 20px;
    color: #262626;
    margin-left: 2%;
    font-family: 'Rubik', sans-serif;
    text-transform: capitalize;
}

.search-box {
    display: none;
}

.search-header p .chevron {
    font-size: 16px;
    color: #1e70bf;
    padding: 2%;
    display: block;
}

.items-con {
    /* background: green; */
    padding:5%;
    display: inline-block !important;
    width: 100%;
    
}

.card {
    /* display: flex; */
    height: 300px;
    width: 200px;
    background-color: #fff;
    /* border: 1px solid gray; */
    border-radius: 5px;
    padding: .5%;
    float: left;
    margin: 4%;
}

.card .img-con {
    height: 65%;
    width: 100%;
    background: #aaa;
    border-radius: 5px;
}

.card .item-price {
    height: 20%;
    margin-top: 5%;
    
}

.card .item-price h3 {
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    padding: 2%;
}

.card .item-price p {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    color: #676767;
    opacity: 0.7;
}



.card .button-bag {
    height: 10%;
    margin-top: 2%;
    /* background: lightgreen; */
}

.card .button-bag button {
    width: 100%;
    height: 100%;
    outline: none;
    background: none;
    border: 1px solid #1e70bf;
    color: #1e70bf;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    border-radius: 3px;
}
